server = "https://{{ item.domain }}"

{% for m in item.endpoints %}
[host."{{ m }}"]
   capabilities = ["pull", "resolve"]
{% if item.auth is defined and item.auth.cert != "" %}
   client = [["/etc/containerd/conf.d/{{ item.domain }}/client.cert","/etc/containerd/conf.d/{{ item.domain }}/client.key"]]
{% endif %}
{% endfor %}
